/* Start Variables */
:root {
  --main-color: #19c8fa;   /*the color main is babyblue*/
  --transparent-color: rgb(15 116 143 / 70%); /* the transparent of color rgb is (15 116 143 / 70%) */
  --section-padding: 100px; /*space inside the border*/
}
/* End Variables */
/* Start Global Rules */
* { 
  -webkit-box-sizing: border-box; /*-webkit-box-sizing is border-box*/
  -moz-box-sizing: border-box; /*-moz-box-sizing is border-box*/
  box-sizing: border-box; /*box-sizing is border-box*/
  padding: 0; /*space inside the border*/
  margin: 0; /*space outside the border*/
} 
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.main-heading {
  text-align: center; /*the position of text in center*/
}
.main-heading h2 {
  font-weight: normal; /*font weight is normal*/
  font-size: 40px; /*font size is 40px*/
  position: relative; /* posting method used for a linkes is relative */
  margin-bottom: 70px; /* space outside bottom the text is 70px */
  text-transform: uppercase; /* text is in uppercase */
}
.main-heading h2::before {
  content: "";
  position: absolute; /* posting method used for a linkes is absolute */
  left: 50%; /* effect to position left is 50%*/
  transform: translateX(-50%); /* the position move to left */
  height: 2px; /*the hight is 2px*/
  background-color: #333; /*background coloring */
  bottom: -30px; /*aligend to the bottom */
  width: 120px; /* width = 129px */
}
.main-heading h2::after {
  content: ""; /* content include with thinges you put */
  position: absolute; /* posting method used for a linkes is absolute*/
  left: 50%; /* aligen to left by 50% */
  transform: translateX(-50%); /* the position move to left */
  width: 14px; /* width = 14px */
  height: 14px; /*the hight is 14px*/
  border-radius: 50%; /* border radius is 50% */
  border: 2px solid #333; /* the border is 2px and is solid */
  bottom: -38px; /* aligen to bottom is -38px */
  background-color: white;  /* backgroung coloring is white */
}
.main-heading p {
  width: 550px; /* width = 550px */
  margin: 0 auto 100px; /* space outside the text */
  max-width: 100%; /* the max of width = 100% */
  line-height: 2; /* line-hight is 2 */
  color: #777; /* color word */
}
/* End Components */
/* Start Header */
header {
  position: absolute; /* posting method used for a linkes is absolute */
  left: 0; /* aligen to left is 0 */
  width: 100%; /* width is 100% */
  z-index: 2; /* used to make links above of image */
}
header .container {
  display: flex; /* specifies the display is flex */
  justify-content: space-between; /* position is space between */
  align-items: center; /*the position of item in center*/
  position: relative; /*posting method used for a linkes is relative*/
  min-height: 97px; /*minumam hight is 97px*/
}
header .container::after {
  content: ""; /*content include with thinges you put*/
  position: absolute; /*posting method used for a linkes is absolute*/
  height: 1px; /*hight is 1px*/
  background-color: #a2a2a2; /*ackgroung coloring*/
  bottom: 0; /*there is not aligen to bottom */
  width: calc(100% - 30px); /* width calculate */
  left: 15px; /*aligen to left is 15px*/
}
header .logo img {
  height: 40px; /*the hight is 40px*/
}
header nav {
  flex: 1; /*the flexible length on flexible items*/
  display: flex; /*specifies the display is flex*/
  align-items: center; /*the position of item in center*/
  justify-content: flex-end; /*position is flex-end*/
}
header nav .toggle-menu {
  color: white; /* color word is white */
  font-size: 22px; /*font size = 22px*/
}
@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none; /*specifies the display is none */
  }
}
header nav ul { 
  display: flex; /*specifies the display is flex */
} 
@media (max-width: 767px) {
  header nav ul {
    display: none; /*specifies the display is none*/
  }
  header nav .toggle-menu:hover + ul {
    display: flex; /*specifies the display is flex*/
    flex-direction: column; /*flex-direction is column*/
    position: absolute; /*posting method used for a linkes is absolute*/
    top: 100%; /* aligen to top by 100%*/
    left: 0; /*aligen to left*/
    width: 100%; /*width = 100%*/
    background-color: rgb(0 0 0 / 50%); /*background coloring*/
  }
  header nav ul li a {
    padding: 15px !important; /*space inside the border*/
  }
}
header nav ul li a {
  padding: 40px 10px; /*space inside the border*/
  display: block; /*specifies the display is block*/
  color: white; /*word color is wight*/
  text-decoration: none; /*the style of text*/
  font-size: 14px; /*font-size is 14px*/
  transition: 0.3s;/*A slight effect period 3s*/
  position: relative;/*posting method used for a linkes is relative*/
  z-index: 2; /* used to make links above of image*/
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color); /* color word*/
  border-bottom: 1px solid var(--main-color); /*border bottom 1px is solid*/
}
header nav .form {
  width: 40px; /*width is 40px*/
  height: 30px; /*height is 30px*/
  position: relative; /*posting method used for a linkes is relative*/
  margin-left: 30px; /*space outside left the text is 30px */
  border-left: 1px solid white; /*border left 1px is solid*/
}
header nav .form i {
  color: white; /*color word is white*/
  position: absolute; /*posting method used for a linkes is absolute*/
  font-size: 20px; /*font-size is 20px*/
  top: 50%;/*aligen to top by 50%*/
  transform: translateY(-50%); /*the position move to left*/
  right: 0; /*right is 0*/
}
/* End Header */
/* Start Landing */
.landing {
  min-height: 100vh; /*minumam height is 100vh*/
  background-color: #1f2021; /*background coloring*/
  background-image: url("../images/landing.jpg"); /*background image*/
  background-size: cover; /*background size*/
  position: relative; /*posting method used for a linkes is relative*/
}
.landing .overlay {
  position: absolute; /*posting method used for a linkes is absolute*/
  left: 0; /*left is 0*/
  top: 0; /*aligen to top*/  
  width: 100%; /* width is 100%*/
  height: 100%; /* hight is 100%*/
  background-color: rgb(0 0 0 / 60%); /*background coloring*/
}
.landing .text {
  position: absolute; /*posting method used for a linkes is absolute*/
  left: 0; /* aligen to left */
  top: 50%; /*aligen to top*/
  transform: translateY(-50%); /*the position move to left*/
  width: 50%; /*width is 50%*/
  padding: 50px; /*space inside the border*/
  background-color: var(--transparent-color);
  color: white; /*color word */
  display: flex; /*specifies the display is flex */
  justify-content: flex-end; /*position is flex-end*/
}
.landing .text .content {
  max-width: 500px; /*maximum width is 500px*/
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%; /* width is 100%*/
  }
  .landing .text .content {
    max-width: 100%; /*maximum width is 100%*/
  }
}
.landing .text .content h2 {
  font-size: 32px; /*font-size is 32px */
  font-weight: normal; /*font-weight is normal*/
  line-height: 1.5; /*line-height is 1.5*/
  margin-bottom: 20px; /*space outside bottom the text is 20px*/
}
.landing .text .content p {
  font-size: 14px; /*font-size is 14px*/
  line-height: 2; /*line-height is 2*/
}
.landing .change-background {
  position: absolute; /*posting method used for a linkes is absolute*/
  top: 50%; /* aligen top is 50%*/
  transform: translateY(-50%); /*the position move to left*/
  color: #ddd; /*color word*/
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none; /*specifies the display is none*/
  }
}
.landing .fa-angle-left {
  left: 30px; /*aligen to left by 30px*/
}
.landing .fa-angle-right {
  right: 30px; /*right to left by 30px*/
}
.landing .bullets {
  position: absolute; /*posting method used for a linkes is absolute*/
  left: 50%; /*aligen to left by 50%*/
  transform: translateX(-50%); /*the position move to left*/
  bottom: 30px; /*aligen to bottom */
  display: flex; /*specifies the display is flex*/
}
.landing .bullets li {
  width: 20px; /*width is 20px*/
  height: 20px; /*height is 20px*/
  border: 1px solid white; /*border 1px is solid*/
  border-radius: 50%; /*border-radius is 50%*/
  margin-right: 10px; /*space outside right the text is 10px*/
}
.landing .bullets li.active {
  background-color: var(--main-color); /*background-coloring*/
  border-color: var(--main-color); /*background-coloring*/
}
/* End Landing */
/* Start Services */
.services {
  padding-top: var(--section-padding); /*space top inside the border*/
  padding-bottom: var(--section-padding); /*space bottom inside the border*/
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid; /*specifies the display is grid*/
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr)); /*grid-template-columns are repeat and minmax(450px, 1fr)*/
    grid-column-gap: 40px; /*grid-column-gap is 40px*/
    grid-row-gap: 60px; /*grid-row-gap is 60px*/
  }
}
.services .srv-box {
  display: flex; /*specifies the display is flex*/
}
.services .srv-box i {
  margin-right: 50px; /*space outside right the text is 50px*/
}
@media (max-width: 767px) {
  .services .srv-box {
    display: flex; /*specifies the display is flex*/
    flex-direction: column; /*flex-direction is column*/
    text-align: center; /*the position of item in center*/
    margin-bottom: 40px; /*space outside right the text is 50px*/
  }
  .services .srv-box i {
    margin: 0 0 30px; /*space outside the text is 0 0 30px*/
  }
}
.services .srv-box h3 {
  margin-bottom: 30px; /*space outside bottom the text is 30px */
  color: var(--main-color); 
}
.services .srv-box p {
  line-height: 2; /*line-height is 2*/
  color: #777; /*word color*/
}
/* End Services */ 
/* Start Design */ 
.design { 
  padding-top: var(--section-padding); /*space top inside the border*/
  padding-bottom: var(--section-padding); /*space bottom inside the border*/
  height: 600px; /*height is 600px*/
  position: relative; /*posting method used for a linkes is relative*/
  background-image: url("../images/photo.jpg"); /*background-image*/
  background-size: cover; /*background-size: cover*/
  display: flex; /*specifies the display is flex*/
  align-items: center; /*the position of item in center*/
  overflow: hidden;
} 
.design::before {
  content: ""; /*content include with thinges you put*/
  position: absolute; /*posting method used for a linkes is absolute*/
  left: 0; /*aligen to left*/
  top: 0; /*aligen to top*/
  width: 100%; /*width: 100%*/
  height: 100%; /*height is 100%*/
  background-color: rgb(0 0 0 / 60%); /*ackground-coloring*/
}
.design .image, 
.design .text { 
  position: relative; /*posting method used for a linkes is relative*/
  z-index: 2; /*used to make links above of image*/
  flex: 1; /*the flexible length on flexible items*/
} 
.design .image {
  text-align: center; /*the position of item in center*/
}
@media (max-width: 767px) {
  .design .image {
    display: none; /*specifies the display is none*/
  }
}
.design .image img {
  position: relative; /*posting method used for a linkes is relative*/
  bottom: -150px; /*aligen to bottom*/
}
.design .text {
  color: white; 
  padding: 50px; /*space inside the border*/
  background-color: var(--transparent-color); 
}
.design .text h2 {
  font-weight: normal; /*font-weight is normal*/
  text-transform: uppercase; /*text is in uppercas*/
  margin-bottom: 40px; /*space outside bottom the text is 40px*/
}
.design .text ul li {
  padding: 15px 0; /*space inside the border*/
}
.design .text ul li::before {
  font-family: "Font Awesome 5 Free"; /*use to text fonts*/
  content: "\f108"; /*content include with thinges you put*/
  font-weight: 900; /*used to font-weight*/
  margin-right: 20px; /*space outside right the text is 20px*/
  position: relative; /*posting method used for a linkes is relative*/
  top: 1px; 
}
/* End Design */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding); /*space top inside the border*/
  padding-bottom: var(--section-padding); /*space bottom inside the border*/
}
.portfolio .shuffle {
  display: flex; /*specifies the display is flex*/
  justify-content: center; /*position is in center*/
}
.portfolio .shuffle li {
  padding: 10px;/*space inside the border */
}
.portfolio .shuffle li.active {
  background-color: var(--main-color); /*background-coloring*/
  color: white; /*word color*/
}
.portfolio .imgs-container {
  display: flex; /*specifies the display is flex*/
  flex-wrap: wrap; /*the flexible length on flexible items*/
  margin-top: 60px; /* space outside top the text is 60px*/
}
.portfolio .imgs-container .box {
  overflow: hidden; /*The overflow is clipped, and the rest of the content will be invisible*/
  position: relative; /*posting method used for a linkes is relative*/
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0; /*aligen to bottom*/
}
.portfolio .imgs-container .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%; /*the flexible length on flexible items*/
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box img {
  max-width: 100%; /*maximum width is 100%*/
  transition: 0.3s; /*A slight effect period 3s*/
}
.portfolio .imgs-container .box .caption {
  position: absolute; /*abosting method used for a linkes is absolute*/
  left: 0; /*aligen to left*/
  padding: 20px; /*space inside the border*/
  background-color: white; 
  width: 100%; /*width is 100%*/
  transition: 0.3s; /*A slight effect period 3s*/
  bottom: -100%; /*aligen to bottom*/
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: normal; /*font-weight is normal*/
  margin-bottom: 10px; /*space outside bottom the text is 10px*/
}
.portfolio .imgs-container .box .caption p {
  color: var(--main-color); 
}
.portfolio .more {
  background-color: var(--main-color); 
  color: white; /*color word*/
  padding: 15px 20px; /*space inside the border*/
  display: block; /*specifies the display is block*/
  width: fit-content; 
  margin: 30px auto; /*space outside the text */
  text-decoration: none; /*the style of text*/
  text-transform: uppercase; /*text is in uppercas*/
}
/* End Portfolio */
/* Start Video */
.video {
  position: relative; /*posting method used for a linkes is relative*/
}
.video::before {
  content: ""; /*content include with thinges you put*/
  position: absolute; 
  left: 0; 
  top: 0; /*aligen to top*/
  width: 100%; /*width is 100%*/
  height: 100%; /*height is 100%*/
  background-color: rgb(0 0 0 / 40%); /*background-coloring*/
}
.video video {
  width: 100%; /*width is 100%*/
}
.video .text {
  width: 100%;
  position: absolute; /*abosting method used for a linkes is absolute*/
  top: 50%; /*aligen to top*/
  transform: translateY(-50%); /*the position move to left*/
  padding: 50px; /*space inside the border*/
  background-color: var(--transparent-color); /*background-coloring*/
  color: white; /*color word*/
  text-align: center; /*the position of item in center*/
}
.video .text h2 {
  margin: 0 0 30px; /*space outside the text*/
  text-transform: uppercase; /*text is in uppercas*/
  font-weight: normal; /*font-weight is normal*/
}
.video .text p {
  margin-bottom: 30px; /*space outside bottom the text is 30px*/
}
.video .text button {
  background-color: black; /*background-coloring*/
  color: white; /*color word*/
  padding: 10px 20px; /*space inside the border*/
  border: none; /*the border is none*/
  text-transform: uppercase; 
}
/* End Video */
/* Start About */
.about {
  padding-top: var(--section-padding); /*space top inside the border*/
  overflow: hidden; /*The overflow is clipped, and the rest of the content will be invisible*/
  text-align: center; /*the position of item in center*/
}
.about img {
  position: relative; /*posting method used for a linkes is relative*/
  bottom: -120px; /*aligen to bottom*/
  margin-top: -120px; /*space outside top the text is -120px*/
  max-width: 100%; /*maximum width is 100%*/
}
@media (max-width: 767px) {
  .about img {
    bottom: -60px; /*aligen to bottom*/
    margin-top: -60px; /*space outside top the text is -60px*/
  }
}
/* End About */ 
/* Start Stats */ 
.stats {
  padding-top: var(--section-padding); /*space top inside the border*/
  padding-bottom: var(--section-padding); /*space bottom inside the border*/
  text-align: center; /*the position of item in center*/
  background-image: url("../images/OIP\ \(8\).jpg"); /*put background-image*/
  background-size: cover; /*background-size: cover*/
  position: relative; /*posting method used for a linkes is relative*/
}
.stats::before {
  content: ""; /*content include with thinges you put*/
  position: absolute; /*abosting method used for a linkes is absolute*/
  left: 0; /* aligen to left*/
  top: 0; 
  width: 100%; 
  height: 100%; 
  background-color: rgb(0 0 0 / 70%); 
}
.stats .container {
  position: relative; /*posting method used for a linkes is relative*/
  display: flex; /*specifies the display is flex*/
  flex-wrap: wrap; /*the flexible length on flexible items*/
}
.stats .container .box {
  color: white; /*color word*/
  padding: 50px; /*space inside the border*/
  background-color: var(--transparent-color); /*background-coloring*/
}
@media (max-width: 767px) { 
  .stats .container .box {
    flex-basis: 100%; /*the flexible length on flexible items*/
  }
} 
@media (min-width: 768px) { 
  .stats .container .box { 
    flex-basis: 50%; /*the flexible length on flexible items*/
  } 
} 
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%; //*the flexible length on flexible items*/
  }
}
.stats .container .box i {
  width: 40px; /*width is 40%*/
  height: 40px; /*height is 40%*/
  display: flex; /*specifies the display is flex*/
  background-color: black; /*background-coloring*/
  justify-content: center; /*the position of item in center*/
  align-items: center; /*the position of item in center*/
  border-radius: 50%; /*border-radius is 50%*/
  margin: 0 auto 30px; /*space outside the text*/
}
.stats .container .box .number {
  font-size: 50px; 
  font-weight: bold; /*font-weight is bold*/
  margin: 0 0 20px; /*space outside the text*/
}
.stats .container .box p {
  font-size: 14px; /*font-size is 14px*/
}
/* End Stats */
/* Start Skills */
.our-skills { 
  padding-top: var(--section-padding); /*space top inside the border*/
  padding-bottom: var(--section-padding); /*space bottom inside the border*/
} 
.our-skills .container {
  display: flex; /*specifies the display is flex*/
  justify-content: space-between; /*the position of item in between space*/
  flex-wrap: wrap; /*the flexible length on flexible items*/
}
@media (min-width: 992px) { 
  .our-skills .container > div { 
    flex-basis: 45%; /*the flexible length on flexible items*/
  } 
} 
.our-skills .container > div > h3 {
  margin: 0 0 30px; /*space outside the text*/
  font-weight: normal; /*font-weight is normal*/
  text-align: center; /*the position of item in center*/
  text-transform: uppercase; /*text is in uppercas*/
}
.our-skills .container > div > p {
  color: #777; /*color word*/
  line-height: 2; /*line-height: 2*/
  text-align: center; /*the position of item in center*/
  margin-bottom: 60px; /*space outside bottom the text is 60px*/
}
.our-skills .testimonials .content {
  display: flex; /*specifies the display is flex*/
  align-items: center; /*the position of item in center*/
  margin-bottom: 30px; /*space outside bottom the text is 30px*/
}
.our-skills .testimonials .content img {
  width: 100px; /*width is 100px*/
  border-radius: 50%; /*border-radius is 50%*/
  margin-right: 50px; /*space outside right the text is 50px*/
}
@media (max-width: 767px) {
  .our-skills .testimonials .content {
    flex-direction: column; /*flex-direction is column*/
    text-align: center; /*the position of item in center*/
  }
  .our-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}
.our-skills .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.our-skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.our-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.our-skills .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.our-skills .testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.our-skills .skills .prog-holder {
  margin-bottom: 40px;
}
.our-skills .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.our-skills .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.our-skills .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.our-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.our-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
/* End Skills */
/* Start Quote */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/OIP\ \(9\).jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 75%);
}
.quote .container {
  position: relative;
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
/* End Quote */
/* Start Pricing */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .plans {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .plans .plan .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .plans .plan .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .plans .plan .head span::before {
  content: "$";
  font-size: 25px;
  position: relative;
  top: -40px;
  margin-right: 15px;
  font-weight: normal;
}
.pricing .plans .plan .head span::after {
  content: "/Mo";
  font-size: 20px;
  position: relative;
  right: -15px;
}
.pricing .plans .plan ul {
  border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
  padding: 20px;
  position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after {
  content: "";
  width: 140px;
  height: 1px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.pricing .plans .plan .foot a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin: 30px auto;
}
.pricing .contact-text {
  text-align: center;
  margin: 50px auto 20px;
  font-size: 20px;
}
.pricing .contact-link {
  display: block;
  width: fit-content;
  margin: 20px auto;
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  text-decoration: none;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url("../images/OIP\ \(10\).jpg");
  background-size: cover;
  position: relative;
  color: white;
}
.subscribe::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe p {
    margin: 30px 0 0;
  }
}
/* End Subscribe */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .content {
    flex-direction: column;
  }
}
.contact .content form {
  flex-basis: 70%;
}
.contact .content form .main-input {
  padding: 20px;
  display: block;
  border: 1px solid #ccc;
  margin-bottom: 30px;
  width: 100%;
}
.contact .content form .main-input:focus {
  outline: none;
}
.contact .content form textarea.main-input {
  height: 200px;
}
.contact .content form input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  padding: 20px;
  border: none;
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  cursor: pointer;
}
.contact .content .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .content .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .content .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .content .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .content .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .content .info address {
    margin-bottom: 40px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-image: url("../images/download\ \(4\).jpg");
  background-size: cover;
  position: relative;
  color: white;
  text-align: center;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
}
.footer .container {
  position: relative;
}
.footer img {
  margin-bottom: 20px;
}
.footer p:not(.copyright) {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons i {
  padding: 10px 15px;
}
.footer .copyright {
  margin-top: 60px;
}
.footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* End Footer */